<ul class="navbar-nav ms-auto">
    {{#foreach navigation}}
        <li class="nav-item">
            <a class="nav-link {{#if current}} active{{/if}}" href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
</ul>
