<div class="card h-100 shadow border-0">
    {{#if feature_image}}
         <img class="card-img-top"
              srcset="{{img_url feature_image size="s"}} 300w,
                      {{img_url feature_image size="m"}} 600w,
                      {{img_url feature_image size="l"}} 1000w,
                      {{img_url feature_image size="xl"}} 2000w"
              sizes="(max-width: 1000px) 400px, 800px"
              src="{{img_url feature_image size="m"}}"
              alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
              loading="lazy" />
    {{/if}}

    <div class="card-body p-4">
        {{#primary_tag}}
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{name}}</div>
        {{/primary_tag}}

        <a class="text-decoration-none link-dark stretched-link" href="{{url}}">
           <h5 class="card-title mb-3">{{title}}</h5>
        </a>

        {{#if excerpt}}
            <p class="card-text mb-0">{{excerpt}}</p>
        {{/if}}
    </div>

    {{^if showFooter}}
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
            <div class="text-muted small">{{date format="DD MMMM YYYY"}}</div>
        </div>
    {{/if}}
</div>
