<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>

    {{!-- Basic meta - advanced meta is output with {ghost_head} below --}}
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Theme assets - use the {asset} helper to reference styles & scripts,
    this will take care of caching and cache-busting automatically --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />

    {{!-- This tag outputs all your advanced SEO meta, structured data, and other important settings,
    it should always be the last tag before the closing head tag --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">

<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
    <div class="container px-md-5">
        <a class="navbar-brand d-flex" href="/">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" width="auto" height="22">
            {{else}}
                {{@site.title}}
            {{/if}}
        </a>

        <button class="btn btn-link text-light ms-auto d-flex d-xl-none px-2" data-ghost-search>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
            </svg>
        </button>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {{navigation}}

            <button class="btn btn-link text-light d-none d-xl-inline-flex" data-ghost-search>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                </svg>
            </button>

            {{#if @custom.signup_link}}
                <a class="btn btn-light rounded-pill d-flex justify-content-center" href="{{@custom.signup_link}}" data-umami-event="Subscribe button" target="_blank">Aanmelden</a>
            {{/if}}
        </div>
  </div>
</nav>

{{{body}}}

{{#if @custom.show_signup_section}}
<section class="pt-5">
    <div class="container px-md-5 my-5">
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    {{#if @custom.signup_header}}
                        <div class="fs-3 fw-bold text-white">{{{@custom.signup_header}}}</div>
                    {{/if}}
                    {{#if @custom.signup_subheader}}
                        <div class="text-white-50">{{{@custom.signup_subheader}}}</div>
                    {{/if}}
                </div>
                <div class="ms-xl-4">
                    {{#if @custom.signup_link}}
                        <a class="btn btn-light rounded-pill" href="{{@custom.signup_link}}" data-umami-event="Subscribe button" target="_blank">Aanmelden</a>
                    {{/if}}
                </div>
            </div>
        </aside>
    </div>
</section>
{{/if}}

<footer class="bg-dark py-4 mt-5">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; {{@site.title}} {{date format="YYYY"}}</div>
            </div>
        </div>
    </div>
</footer>

{{#is "post, page"}}
    {{> "lightbox"}}
{{/is}}

{{!-- Scripts - handle member signups, responsive videos, infinite scroll, floating headers, and galleries --}}
<script src="{{asset "built/main.js"}}"></script>

{{!-- Ghost outputs required functional scripts with this tag - it should always be the last thing before the closing body tag --}}
{{ghost_foot}}

</body>
</html>
