{{!--

There are two error files in this theme, one for 404s and one for all other errors.
This file is the latter, and handle all 400/500 errors that might occur.

Because 500 errors in particular usuall happen when a server is struggling, this
template is as simple as possible. No template dependencies, no JS, no API calls.
This is to prevent rendering the error-page itself compounding the issue causing
the error in the first place.

Keep this template as lightweight as you can!

--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "built/main.css"}}" />
</head>
<body>

<nav class="navbar sticky-top navbar-expand-xl navbar-dark bg-primary">
    <div class="container px-md-5">
        <a class="navbar-brand d-flex" href="/">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" width="auto" height="22">
            {{else}}
                {{@site.title}}
            {{/if}}
        </a>
  </div>
</nav>

<section class="py-5">
    <div class="container px-md-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8 text-center">
                <h1 class="display-1 fw-bolder">{{statusCode}}</h1>
                <p class="lead fw-normal text-muted">{{message}}</p>
                <a href="{{@site.url}}">Ga naar de hoofdpagina →</a>
            </div>
        </div>
    </div>
</section>

</body>
</html>
