{{!< default}}

{{!--

There are two error files in this theme, one for 404s and one for all other errors.
This file is the former, and handles all 404 Page Not Found errors.

The 404 error is the most common error that a visitor might see, for example when
following a broken link

Keep this template as lightweight as you can!

--}}

<section class="py-5">
    <div class="container px-md-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8 text-center">
                <h1 class="display-1 fw-bolder">{{statusCode}}</h1>
                <p class="lead fw-normal text-muted">{{message}}</p>
                <a href="{{@site.url}}">Ga naar de hoofdpagina →</a>
            </div>
        </div>
    </div>
</section>

{{!-- Given that people landing on this page didn't find what they
were looking for, let's give them some alternative stuff to read. --}}
<aside class="pt-5">
    {{#get "posts" limit="3" as |more_posts|}}
        {{#if more_posts}}
            <div class="container px-md-5">
                <div class="row gy-4">
                    {{#foreach more_posts}}
                        <div class="col-lg-4">
                            {{> "post-card"}}
                        </div>
                    {{/foreach}}
                </div>
            </div>
        {{/if}}
    {{/get}}
</aside>
