{{!< default}}

<header class="bg-primary py-5">
    <div class="container px-md-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-lg-start">
                    {{#if @custom.hero_header}}
                        <h1 class="display-5 fw-bolder text-white mb-2">{{{@custom.hero_header}}}</h1>
                    {{/if}}
                    {{#if @custom.hero_subheader}}
                        <p class="lead fw-normal text-white-50 mb-4">{{{@custom.hero_subheader}}}</p>
                    {{/if}}

                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-lg-start">
                        {{#if @custom.signup_link}}
                            <a class="btn btn-light btn-lg rounded-pill px-4 me-sm-3" href="{{@custom.signup_link}}" data-umami-event="Subscribe button" target="_blank">Aanmelden</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xl-5 col-xxl-6">
                {{#get "posts" filter="featured:true" include="authors,tags" order="published_at desc" limit="1"}}
                    {{#foreach posts}}
                        {{> "post-card" showFooter="false"}}
                    {{/foreach}}
                {{/get}}
            </div>
        </div>
    </div>
</header>

<section class="pt-5">
    <div class="container px-md-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    {{#if @custom.news_header}}
                        <h2 class="fw-bolder">{{{@custom.news_header}}}</h2>
                    {{/if}}
                    {{#if @custom.news_subheader}}
                        <p class="lead fw-normal text-muted mb-5">{{{@custom.news_subheader}}}</p>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row gy-4">
            {{#get "posts" filter="primary_tag:-materiaal" include="authors,tags" order="published_at desc" limit="all"}}
                {{#foreach posts}}
                    <div class="col-lg-4">
                        {{> "post-card"}}
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
    </div>
</section>
