{{!< default}}

<section class="pt-5">
    <div class="container px-md-5 mt-5">
        <div class="row gy-4">
            {{#foreach posts}}
                <div class="col-lg-4">
                    {{> "post-card"}}
                </div>
            {{/foreach}}
        </div>
    </div>
</section>
