{{!< default}}

{{#post}}

<section class="{{#match @page.show_title_and_feature_image}}pt-5{{/match}}">
    <div class="container px-md-5 {{#match @page.show_title_and_feature_image}}mt-5{{/match}}">
        {{#match @page.show_title_and_feature_image}}
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <h1 class="fw-bolder">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="lead fw-normal text-muted">{{excerpt}}</p>
                {{/if}}
            </div>
        </div>

        {{#if feature_image}}
            <img srcset="{{img_url feature_image size="s"}} 300w,
                         {{img_url feature_image size="m"}} 600w,
                         {{img_url feature_image size="l"}} 1000w,
                         {{img_url feature_image size="xl"}} 2000w"
                 sizes="(min-width: 1400px) 1400px, 92vw"
                 src="{{img_url feature_image size="xl"}}"
                 class="w-100 mb-5"
                 alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        {{/if}}
        {{/match}}

        <div class="row justify-content-center">
            <div class="gh-content large col-lg-10 col-xl-8">
                {{content}}
            </div>
        </div>
    </div>
</section>

{{/post}}
