{{!< default}}

{{#post}}

<section class="pt-5">
    <div class="container px-md-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                {{#primary_tag}}
                    <a class="badge bg-primary bg-gradient rounded-pill mb-2 text-decoration-none" href="{{url}}">{{name}}</a>
                {{/primary_tag}}

                <h1 class="fw-bolder">{{title}}</h1>

                {{#if custom_excerpt}}
                    <p class="lead fw-normal text-muted">{{excerpt}}</p>
                {{/if}}

                <div class="text-muted small mb-5">{{date format="DD MMMM YYYY"}}</div>
            </div>
        </div>

        {{#if feature_image}}
            <img srcset="{{img_url feature_image size="s"}} 300w,
                         {{img_url feature_image size="m"}} 600w,
                         {{img_url feature_image size="l"}} 1000w,
                         {{img_url feature_image size="xl"}} 2000w"
                 sizes="(min-width: 1400px) 1400px, 92vw"
                 src="{{img_url feature_image size="xl"}}"
                 class="w-100 mb-5"
                 alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
            />
        {{/if}}

        <div class="row justify-content-center">
            <div class="gh-content large col-lg-10 col-xl-8">
                {{content}}
            </div>
        </div>
    </div>
</section>

<aside class="pt-5">
    {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}
        {{#if more_posts}}
            <div class="container px-md-5">
                <div class="row gy-4">
                    {{#foreach more_posts}}
                        <div class="col-lg-4">
                            {{> "post-card"}}
                        </div>
                    {{/foreach}}
                </div>
            </div>
        {{/if}}
    {{/get}}
</aside>

{{/post}}
