{{!< default}}

<section class="pt-5">
    <div class="container px-md-5 mt-5">
        {{#tag}}
        <div class="row justify-content-center">
            <div class="col-lg-10 col-xl-8">
                <h1 class="fw-bolder">{{name}}</h1>
                <p class="lead fw-normal text-muted mb-5">{{description}}</p>
            </div>
        </div>
        <div class="row gy-4">
            {{#get "posts" filter="tag:{{slug}}" include="authors,tags" order="published_at desc" limit="all"}}
                {{#foreach posts}}
                    <div class="col-lg-4">
                        {{> "post-card"}}
                    </div>
                {{/foreach}}
            {{/get}}
        </div>
        {{/tag}}
    </div>
</section>
