$purple:                      #642580;

$primary:                     $purple;

$spacer:                      1rem;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$font-size-base:              1rem;

$font-weight-semibold:        600;
$font-weight-bold:            800;

$h1-font-size:                $font-size-base * 3.25;
$h2-font-size:                $font-size-base * 2.25;

$headings-font-weight:        700;

$input-btn-padding-y:         .5rem;
$input-btn-padding-x:         1.25rem;

$btn-font-weight:             $font-weight-semibold;

$navbar-padding-y:            $spacer * 1.375;
